* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  border: 0;
}
button {
  cursor: pointer;
  background-color: inherit;
}
img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
p {
  padding: 0;
  margin: 0;
}

/*! main styles */
@font-face {
  font-family: "SF-Pro-Regular";
  src: local("SF-Pro-Text Regular"),
    local("SF-Pro-Text-Regular"),
    url("./fonts/SF-Pro-Text-Regular.otf") format("opentype");
}
@font-face {
  font-family: "SF-Pro-Medium";
  src: local("SF-Pro-Text Medium"),
    local("SF-Pro-Text-Medium"),
    url("./fonts/SF-Pro-Text-Medium.otf") format("opentype");
}
@font-face {
  font-family: "SF-Pro-Bold";
  src: local("SF-Pro-Text Bold"),
    local("SF-Pro-Text-Bold"),
    url("./fonts/SF-Pro-Text-Bold.otf") format("opentype");
}

body {
  font-family: "SF-Pro-Regular", sans-serif;
}

.block {

}

.block__title {
  font-family: 'SF-Pro-Bold', sans-serif;
  font-size: 64px;
  line-height: 76px;
  white-space: nowrap;
}

.block__subtitle {
  font-size: 48px;
  line-height: 58px;
}

.block__description {
  font-size: 36px;
  line-height: 42px;
}

.container {
  margin: 0 auto;
  width: 1080px
}

.header {
  width: 100%;
  height: 71px;
  z-index: 10;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  background-color: #000;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  /* width: 80%; */
  height: 71px;
}

.header__link {
  padding: 8px 12px;
  font-size: 14px;
  line-height: 16px;
  
  color: #fff;
  text-decoration: none;
}

.header__link--active {
  border: 1px solid #fff;
  border-radius: 16px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 30px;

  font-family: 'SF-Pro-Medium', sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
}

.button--primary {
  border-radius: 12px;
  background-color: #1676EF;
}

.button--secondary {}

/*! index page */
.welcome-block {
  padding: 170px 0 120px;

  color: #fff;

  background-color: #0B0B0B;
}

.welcome-block .container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.welcome-block__image-side {
  position: relative;
  min-width: 300px;
  min-height: 100%;
}

.welcome-block__car-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -130px;
  width: 100%;
  max-height: 150%;
  height: max-content;
}

.welcome-block__text-side {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.welcome-block__logo {
  width: 185px;
  height: 70px;
}

.welcome-block__title {
  margin-top: 20px;
}

.welcome-block__subtitle {}

.welcome-block__description {
  margin-top: 20px;
}

.welcome-block__buttons {
  display: flex;
  margin-top: 35px;
}

.welcome-block__create-account-button {
  margin-right: 16px;
}

.welcome-block__login-button {}

/*? service-appointment-block */
.service-appointment-block {
  padding: 130px 0 0;

  color: #000;

  background-color: #fff;
}

.service-appointment-block .container {
  display: flex;
  flex-direction: column;
}

.service-appointment-block__title {}
.service-appointment-block__subtitle {}

.service-appointment-block__content {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.service-appointment-block__image-side {
  position: relative;
  min-width: 460px;
  min-height: 100%;
  margin-right: 40px;
}

.service-appointment-block__image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: -130px;
  width: 100%;
  max-height: 120%;
  height: max-content;
  object-fit: contain;
}

.service-appointment-block__text-side {
  flex: 1;
  margin-bottom: 320px;
}

.service-appointment-block__platform-links {
  display: flex;
  margin-top: 40px;
}

.service-appointment-block__download-image {
  width: 240px;
  height: 80px;

  border-radius: 16px;
}

.service-appointment-block__download-image:first-child {
  margin-right: 16px;
}

/*? waiting-area-block */
.waiting-area-block {
  padding: 280px 0 120px;

  color: #fff;

  background-color: #000;
}

.waiting-area-block__content {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.waiting-area-block__text-side {
  margin-right: 20px;
}

/*! price list page */
.price-list-page {
  background-color: #0B0B0B;
}

.welcome-price-block {
  padding: 170px 0 140px;
  overflow: hidden;

  color: #fff;

  background-color: #0B0B0B;
}

.welcome-price-block .container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.welcome-price-block__image-side {
  position: relative;
  width: 40%;
  min-width: 100%;
  min-height: 100%;
}

.welcome-price-block__car-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* max-height: 150%; */
  /* height: max-content; */
}

.welcome-price-block__text-side {
  min-width: 60%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.welcome-price-block__logo {
  width: 185px;
  height: 70px;
}

.welcome-price-block__title {
  margin-top: 20px;
}

.welcome-price-block__subtitle {}

.welcome-price-block__description {
  margin-top: 20px;

  color: #9D9D9D;
}

.welcome-price-block__button {
  margin-top: 35px;
  width: max-content;
}

.price-cards-block {
  color: #fff;
  background-color: #0B0B0B;
}

.price-cards-block__info-text {
  display: flex;
  justify-content: center;

  font-family: 'SF-Pro-Medium', sans-serif;
  color: #9D9D9D;
  font-size: 14px;
  line-height: 24px;
}

.price-cards-block__cards {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.price-card {
  display: flex;
  flex-direction: column;

  border: 1px solid #666666;
  border-radius: 20px;
}

.price-card__content {
  display: flex;
  flex-direction: column;
  margin: 40px 32px 0;
}

.price-card__image {
  margin-top: 25px;
}

.price-card__title {
  font-family: 'SF-Pro-Bold', sans-serif;
  font-size: 36px;
  line-height: 42px;
}

.price-card__option {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}

.price-card__option-text-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.price-card__option-name {
  font-size: 18px;
  line-height: 22px;
}

.price-card__option-description {
  font-size: 14px;
  line-height: 16px;
  color: #9D9D9D;
}

.price-card__option-price {
  font-family: 'SF-Pro-Bold', sans-serif;
  font-size: 18px;
  line-height: 22px;
}

.additional-services-block {
  padding: 30px 0 200px;

  color: #fff;

  background-color: #0B0B0B;
}

.additional-services-block__content {
  padding: 28px 48px 48px;

  border: 1px solid #666666;
  border-radius: 20px;
}

.additional-services-block__title {
  font-size: 36px;
  line-height: 42px;
}

.additional-options {
  margin-top: 28px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.additional-options__left-side, .additional-options__right-side {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.additional-options__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.additional-options__item:last-child {
  margin-bottom: 0;
}

.additional-options__item-text-wrapper {
  display: flex;
  flex-direction: column;
}

.additional-options__item-title {
  font-size: 18px;
  line-height: 22px;
}

.additional-options__item-description {
  font-size: 14px;
  line-height: 16px;
  color: #9D9D9D;
}

.additional-options__item-price {
  font-family: 'SF-Pro-Bold', sans-serif;
  font-size: 18px;
  line-height: 22px;
}

.additional-options__separator {
  width: 1px;
  min-height: 100%;
  margin: 0 40px;

  background-color: #666666;
}