.registration-page {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
}

.registration__logo-side {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(../images/registration-page-gradient.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0B0B0B;
}

.registration__logo {
  width: 264px;
}

.registration__forms-side {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #F8F8F8;
}

.registration-forms__content {
  max-width: 360px;
  display: flex;
  flex-direction: column;
}

.registration-forms__text-wrapper {}

.registration-forms__title {
  font-family: 'SF-Pro-Bold', sans-serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 48px;
}

.registration-forms__subtitle {
  font-size: 28px;
  line-height: 36px;
}

.registration-forms__name-form {
  margin-top: 26px;
}

.name-form {}

.name-form__title {}

.name-form__input {}

.registration-forms__cars-info-form  {
  margin-top: 20px;
}

.cars-info-form__button {
  margin-top: 6px;

  font-size: 16px;
  line-height: 18px;
}

.registration-forms__create-account-button {
  margin-top: 20px;
}

/*? media */
@media (min-width: 2560px) {
  .registration-page {
    flex-direction: column;
    justify-content: space-between;
  }

  .registration__logo-side {
    width: 100%;
    height: 30%;
  }
  
  .registration__forms-side {
    width: 100%;
    height: 70%;
  }
}
@media (min-width: 1920px) {
  .registration__logo-side {
    width: 30%;
  }
  
  .registration__forms-side {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .registration-page {
    flex-direction: column;
    justify-content: space-between;
  }

  .registration__logo-side {
    width: 100%;
    height: 30%;
  }
  
  .registration__forms-side {
    width: 100%;
    height: 70%;
  }
}
@media (max-width: 400px) {
  .registration__logo {
    width: 200px;
  }

  .registration-forms__content {
    max-width: 280px;
  }

  .registration-forms__title {
    font-size: 28px;
    line-height: 32px;
  }
  
  .registration-forms__subtitle {
    font-size: 24px;
    line-height: 32px;
  }

  .registration-forms__name-form {
    margin-top: 16px;
  }
}